.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    left: 160px !important;
    bottom: 30px !important;
}

.swiper-pagination-bullet {
    background: #ffffff;
    padding: 6px;
    transition: ease 0.7s !important;
}

.hero_text_swiper_container {
    width: 500px;
    height: 100px;
}